@import '~bootstrap/scss/bootstrap';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// header

main{
    background-color: black;
}


a{
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: normal;
    margin-right: 10px;
}

a.active{
    font-weight: bold;
}

li{
    font-size: 12px;
    list-style: none;
    margin: 0, 5px;
}

.jumbotron{
    overflow: hidden;
    height: 40vh;
    object-position: center;

    img{
        width: 100%;
    }
}


// carte comics

.current {
    position: absolute;
    text-transform: uppercase;
    top: -10px;

    span {
        padding: 10px;
        color: white;
        background-color: #2B7CEC;
        font-size: 24px;
        font-weight: bold;

    }

}




.carta {
    
    margin-top: 50px;
    width: calc(100% / 6);
    
    .img-wrap {
    height: 200px;
    overflow-y: hidden;
    }

    .didascalia{
        color: white;
        margin-bottom: 0;
        margin-top: 20px;
     }
    }


    .load-container {
        text-align: center;
        padding: 25px 0;
    }
    
    .load {
        text-transform: uppercase;
        color: white;
        background-color: #2B7CEC;
        padding: 10px 20px;
        text-decoration: none;
    
    
        &:hover {
            filter: invert(1);
        }
    
    }


    // blu band
    .bluband{
        background-color:  #2B7CEC;
        
        p{
            text-transform: uppercase;
            color: white;
        }
        
     }